/**
 * Global styles
 */
p.demo_store {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	font-size: 1em;
	padding: 1em 0;
	text-align: center;
	background-color: $primary;
	color: $primarytext;
	z-index: 99998;
	box-shadow: 0 1px 1em rgba(0,0,0,0.2);
	a {
		color: $primarytext;
	}
}

.admin-bar {
	p.demo_store {
		top: 32px;
	}
}

/**
 * Utility classes
 */
.clear {
	clear: both;
}

/**
 * Main WooCommerce styles
 */
.woocommerce {
	.blockUI.blockOverlay {
		position: relative;
		@include loader();
	}

	.loader {
		@include loader();
	}

	a.remove {
		display: block;
		font-size: 24px;
		height: 30px;
		width: 30px;
		text-align: center;
		line-height: 28px;
		border-radius: 100%;
		color: red !important;
		text-decoration: none;
		font-weight: 700;
		border: 0;

		&:hover {
			color: #fff !important;
			background: red;
		}
	}

	.woocommerce-message,
	.woocommerce-error,
	.woocommerce-info {
		padding: 1em 2em 1em 3.5em !important;
		margin: 0 0 2em !important;
		position: relative;
		background-color: lighten($secondary,5%);
		list-style: none outside !important;
		@include clearfix();
		width: auto;
		word-wrap: break-word;

		&:before {
			font-family: "WooCommerce";
			content: "\e028";
			display: inline-block;
			position: absolute;
			top: 1em;
			left: 1.5em;
		}

		.button {
			float: right;
		}

		li {
			list-style: none outside !important;
			padding-left: 0 !important;
			margin-left: 0 !important;
		}
	}

	.woocommerce-message {
		&:before {
			content: "\e015";
		}
	}

	.woocommerce-error {
		&:before {
			content: "\e016";
		}
	}

	small.note {
		display: block;
		color: $subtext;
		font-size: .857em;
		margin-top: 10px;
	}

	form.cart {
		position: relative;
		input[type="hidden"] {
			position: absolute;
		}
	}

	.quantity {
		.qty {
			width: 80px;
			text-align: center;
			padding: 5px 10px;
			height: 40px;
			box-sizing: border-box;
			line-height: 30px;
			font-size: 14px;

			// clear controls
			-moz-appearance: textfield;
			appearance: textfield;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}

	.quantity-wrap {
		position: relative;
		padding: 0 20px 0 0;
		.qty-controls {
			position: absolute;
			right: 0;
			top: 0;
			width: 20px;
			height: 40px;
			&-add,
			&-remove {
				display: block;
				width: 20px;
				height: 20px;
				line-height: 20px;
				font-size: 16px;
				cursor: pointer;
				text-align: center;
			}
			&-add {
				&:before {
					content: "+";
				}
			}
			&-remove {
				&:before {
					content: "-";
				}
			}
		}
	}

	/**
	 * Product Page
	 */
	div.product {
		margin-bottom: 0;
		position: relative;

		.product_title {
			clear: none;
			margin-top: 0;
			padding: 0;
		}

		span.price,
		p.price {
			font-size: 1.25em;

			ins {
				background: inherit;
				font-weight: 700;
				text-decoration: none;
			}

			del {
				opacity: 0.5;
			}
		}

		p.stock {
			font-size: 0.92em;
			float: right;
			margin: 0;
		}

		.stock {
			color: $highlight;
		}

		.out-of-stock {
			color: red;
		}

		.woocommerce-product-rating {
			margin-bottom: 1.618em;
		}

		div.images {
			margin-bottom: 2em;

			img {
				display: block;
				width: 100%;
				height: auto;
				box-shadow: none;
			}

			div.thumbnails {
				padding-top: 1em;
			}
		}

		div.summary {
			.product_title {
				margin: 0;
				padding: 0 0 30px 0;
			}
			margin-bottom: 2em;
		}
		.woocommerce-product-rating {
			float: right;
			.star-rating {
				float: none;
				margin: 0 auto 5px;
			}
			.woocommerce-review-link {
				font-size: 12px;
				display: block;
			}
		}
		div[itemprop="offers"] {
			float: left;
			+ * {
				clear: both;
			}
		}
		div[itemprop="description"] {
			p {
				padding: 0 0 20px 0;
				margin: 0;
			}
		}
		.summary {
			.yith-wcwl-add-to-wishlist {
				display: inline-block;
				vertical-align: middle;
				margin: 5px 0;
				+ .clear {
					display: inline-block;
					vertical-align: middle;
				}
			}
			.yith-wcwl-wishlistaddedbrowse,
			.yith-wcwl-wishlistexistsbrowse {
				position: relative;
				margin: 0 15px 0 0;
				.feedback {
					position: absolute;
					width: 140px;
					padding: 5px;
					text-align: center;
					font-size: 12px;
					line-height: 16px;
					box-sizing: border-box;
					left: 50%;
					margin: 0 0 20px -70px;
					transition: all 200ms linear;
					bottom: 100%;
					opacity: 0;
					visibility: hidden;
					pointer-events: none;
					z-index: 9999;
					&:after {
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 8px 8px 0 8px;
						content: "";
						position: absolute;
						left: 50%;
						top: 100%;
						margin: 0 0 0 -8px;
					}
				}
				&:hover {
					.feedback {
						visibility: visible;
						opacity: 1;
						margin-bottom: 12px;
					}
				}
			}
			.compare {
				display: inline-block;
				vertical-align: middle;
				margin: 5px 0;
			}
			a.add_to_wishlist,
			a.compare {
				&:before {
					font-family: FontAwesome;
					display: inline-block;
					vertical-align: baseline;
					padding: 0 5px 0 0;
					font-size: 1.2em;
					line-height: .9em;
					font-weight: 400;
				}
				&.added {
					&:before {
						content: "";
					}
				}
			}
			a.add_to_wishlist {
				&:before {
					content: "\f08a";
				}
			}
			a.compare {
				&:before {
					content: "\f079";
				}
			}
		}

		div.social {
			text-align: right;
			margin: 0 0 1em;

			span {
				margin: 0 0 0 2px;

				span {
					margin: 0;
				}

				.stButton .chicklets {
					padding-left: 16px;
					width: 0;
				}
			}

			iframe {
				float: left;
				margin-top: 3px;
			}
		}

		.product_meta {
			margin: 0;
			padding: 20px 0 0 3px;
			> span {
				display: block;
				font-size: 14px;
				line-height: 18px;
				padding: 0 0 5px;
				&:before {
					display: inline-block;
					width: 24px;
					font-size: 16px;
					vertical-align: top;
					font-family: FontAwesome;
					opacity: .4;
				}
				&.sku_wrapper {
					&:before {
						content: "\f05a";
					}
				}
				&.posted_in {
					&:before {
						content: "\f115";
					}
				}
				&.tagged_as {
					&:before {
						content: "\f02c";
					}
				}
			}
		}

		p.cart {
			margin-bottom: 2em;
			@include clearfix();
		}

		form.cart {
			margin: 0;
			padding: 0 0 20px 0;
			@include clearfix();

			div.quantity-wrap {
				margin: 5px 5px 5px 0;
				display: inline-block;
				vertical-align: middle;
			}

			table {
				border-width: 0 0 1px 0;

				td {
					padding-left: 0;
				}

				div.quantity {
					float: none;
					margin: 0;
				}

				small.stock {
					display: block;
					float: none;
				}
			}

			.variations {
				padding: 0;
				border: 0;

				td,
				th {
					border: 0;
				}

				label {
					font-weight: 700;
				}

				select {
					width: 100%;
					float: left;
				}

				td.label {
					display: block;
					padding: 0 0 5px 0;
					label {
						margin: 0;
					}
				}
				td.value {
					display: block;
					position: relative;
					padding: 0;
					.reset_variations {
						position: absolute;
						font-size: 12px;
						line-height: 14px;
						top: -20px;
						right: 0;
					}
				}

				td {
					vertical-align: top;
				}
			}

			.single_variation_wrap {
				padding: 20px 0 0;
				&:after {
					clear: both;
					content: "";
					width: 100%;
					display: block;
				}
				.single_variation {
					display: block;
					padding: 0 0 5px;
					vertical-align: middle;
					&:after {
						clear: both;
						content: "";
						width: 100%;
						display: block;
					}
				}
				.variations_button {
					display: inline-block;
					vertical-align: middle;
					.quantity-wrap {
						display: inline-block;
						float: none;
						vertical-align: middle;
					}
					.button  {
						display: inline-block;
						vertical-align: middle;
						float: none;
					}
				}
			}

			.woocommerce-variation-description {
				p {
					margin-bottom: 1em;
				}
			}

			.reset_variations {
				visibility: hidden;
			}

			.wc-no-matching-variations {
				display: none;
			}

			.button {
				vertical-align: middle;
				margin: 5px 0;
			}

			.group_table {
				td.label {
					padding-right: 1em;
					padding-left: 1em;
				}

				td {
					vertical-align: top;
					padding-bottom: .5em;
					border: 0;
				}
			}
		}
	}

	/**
	 * Product loops
	 */
	.products ul,
	ul.products {
		margin: 0 0 1em;
		padding: 0;
		list-style: none outside;
		clear: both;
		@include clearfix();

		li {
			list-style: none outside;
		}
	}

	.woocommerce-result-count {
		margin: 0 0 30px;
		padding: 0;
	}

	.woocommerce-ordering {
		margin: 0 0 30px;
		padding: 0;

		select {
			vertical-align: top;
		}
	}

	/**
	 * Reviews
	 */
	#reviews {
		h2 small {
			float: right;
			color: $subtext;
			font-size: 15px;
			margin: 10px 0 0 0;

			a {
				text-decoration: none;
				color: $subtext;
			}
		}

		h3 {
			margin: 0;
		}

		#respond {
			margin: 0;
			border: 0;
			padding: 0;
		}

		#comment {
			height: 100px;
			resize: vertical;
		}

		#comments {
			.add_review {
				@include clearfix();
			}

			h2 {
				clear: none;
			}

			.commentlist > li:before {
				content: "";
			}
		}
	}

	.products {
		.star-rating {
			display: block;
			margin: 0 0 .5em;
			float: none;
		}
	}

	.hreview-aggregate {
		.star-rating {
			margin: 10px 0 0 0;
		}
	}

	#review_form {
		#respond {
			@include clearfix();
			position: static;
			margin: 0;
			width: auto;
			padding: 0 0 0;
			background: transparent none;
			border: 0;

			p {
				margin: 0 0 10px;
			}

			.form-submit {
				input {
					left: auto;
				}
			}

			textarea {
				box-sizing: border-box;
				width: 100%;
			}
		}
	}

	p.stars {
		position: relative;
		font-size: 1em;
		@media ( max-width: 480px ) {
			overflow: hidden;
		}

		a {
			display: inline-block;
			font-weight: 700;
			margin-right: .5em;
			text-indent: -9999px;
			position: relative;
			border-bottom: 0 !important;
			outline: 0;
			@media ( max-width: 480px ) {
				float: left;
				clear: both;
			}

			&:last-child {
				border-right: 0;
			}

			&.star-1,
			&.star-2,
			&.star-3,
			&.star-4,
			&.star-5 {
				border-right: 1px solid #ccc;
				@media ( max-width: 480px ) {
					border: none;
				}

				&:after {
					font-family: "WooCommerce";
					text-indent: 0;
					position: absolute;
					top: 0;
					left: 0;
				}

			}

			&.star-1 {
				width: 1.5em;

				&:after {
					content: "\e021";
				}

				&:hover:after,
				&.active:after {
					content: "\e020"
				}
			}

			&.star-2 {
				width: 2.5em;

				&:after {
					content: "\e021\e021";
				}

				&:hover:after,
				&.active:after {
					content: "\e020\e020"
				}
			}

			&.star-3 {
				width: 3.5em;

				&:after {
					content: "\e021\e021\e021";
				}

				&:hover:after,
				&.active:after {
					content: "\e020\e020\e020"
				}
			}

			&.star-4 {
				width: 4.5em;

				&:after {
					content: "\e021\e021\e021\e021";
				}

				&:hover:after,
				&.active:after {
					content: "\e020\e020\e020\e020"
				}
			}

			&.star-5 {
				width: 5.5em;
				border: 0;

				&:after {
					content: "\e021\e021\e021\e021\e021";
				}

				&:hover:after,
				&.active:after {
					content: "\e020\e020\e020\e020\e020"
				}
			}
		}
	}

	/**
	 * Tables
	 */
	table.shop_attributes {
		border: 0;
		border-top: 1px dotted rgba(0,0,0,0.1);
		margin-bottom: 1.618em;
		width: 100%;

		th {
			width: 150px;
			font-weight: 700;
			padding: 8px;
			border-top: 0;
			border-bottom: 1px dotted rgba(0,0,0,0.1);
			margin: 0;
			line-height: 1.5;
		}

		td {
			font-style: italic;
			padding: 0;
			border-top: 0;
			border-bottom: 1px dotted rgba(0,0,0,0.1);
			margin: 0;
			line-height: 1.5;

			p {
				margin: 0;
				padding: 8px 0;
			}
		}

		.alt td,
		.alt th {
			background: rgba(0,0,0,0.025);
		}
	}

	table.shop_table {
		border: 1px solid rgba(0,0,0,0.1);
		margin: 0px -1px 24px 0px;
		text-align: left;
		width: 100%;
		border-collapse: separate;
		border-radius: 0;

		th {
			font-weight: 700;
			padding: 10px;
		}

		td {
			border-top: 1px solid rgba(0,0,0,0.1);
			padding: 10px;
			vertical-align: middle;

			small {
				font-weight: normal;
			}
		}

		@media ( max-width: 480px ) {
			.order-date,
			.order-total {
				display: none;
			}
		}

		tbody:first-child {
			tr:first-child {
				th,
				td {
					border-top: 0;
				}
			}
		}

		tfoot td,
		tfoot th,
		tbody th {
			font-weight: 700;
			border-top: 1px solid rgba(0,0,0,0.1);
		}
	}

	table.my_account_orders {
		font-size: 0.85em;

		th,
		td {
			padding: 4px 8px;
			vertical-align: middle;
		}

		.button {
			white-space: nowrap;
		}

		.order-actions {
			text-align: right;

			.button {
				margin: .125em 0 .125em .25em;
			}
		}
	}

	td.product-name {
		dl.variation {
			margin: .25em 0;
			@include clearfix();

			dt,
			dd {
				display: inline-block;
				float: left;
				margin-bottom: 1em;
			}

			dt {
				font-weight: 700;
				padding: 0 0 .25em 0;
				margin: 0 4px 0 0;
				clear: left;
			}

			dd {
				padding: 0 0 .25em 0;

				p:last-child {
					margin-bottom: 0;
				}
			}
		}

		p.backorder_notification {
			font-size: 0.83em;
		}
	}

	td.product-quantity {
		min-width: 80px;
	}

	/**
	 * Forms
	 */
	form {
		fieldset {
			padding: 0 0 20px;
			legend {
				display: block;
				position: static;
				padding: 20px 0 10px 0;
			}
		}
		.form-row {
			padding: 3px;
			margin: 0 0 15px;

			[placeholder]:focus::-webkit-input-placeholder {
				-webkit-transition: opacity 0.5s 0.5s ease;
				-moz-transition: opacity 0.5s 0.5s ease;
				transition: opacity 0.5s 0.5s ease;
				opacity: 0;
			}

			label {
				line-height: 2;
			}

			label.hidden {
				visibility: hidden;
			}

			label.inline {
				display: inline;
			}

			select {
				cursor: pointer;
				margin: 0;
			}

			.required {
				color: red;
				font-weight: 700;
				border: 0;
			}

			.input-checkbox {
				display: inline;
				margin: -2px 8px 0 0;
				text-align: center;
				vertical-align: middle;
			}

			input.input-text,
			textarea {
				box-sizing: border-box;
				width: 100%;
				margin: 0;
				outline: 0;
			}

			textarea {
				height: 4em;
				line-height: 1.5;
				display: block;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
			}

			.select2-container {
				width: 100%;
				line-height: 2em;
			}

			&.woocommerce-invalid {
				.select2-container,
				input.input-text,
				select {
					border-color: $red;
				}
			}

			&.woocommerce-validated {
				.select2-container,
				input.input-text,
				select {
					border-color: $green - #111;
				}
			}

			::-webkit-input-placeholder {
				line-height: normal;
			}

			:-moz-placeholder {
				line-height: normal;
			}

			:-ms-input-placeholder {
				line-height: normal;
			}
		}
	}

	form.login,
	form.checkout_coupon,
	form.register {
		border: 1px solid darken( $secondary, 10% );
		padding: 20px;
		margin: 2em 0 2em 0px;
		text-align: left;
		border-radius: 5px;
		.input-text {
			width: 100%;
		}
		@media ( max-width: 480px ) {
			.button {
				display: block;
				width: 100%;
				margin: 5px 0 10px;
			}
		}
	}

	ul#shipping_method {
		list-style: none outside;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: .25em 0 .25em 22px;
			text-indent: -22px;
			list-style: none outside;
		}

		.amount {
			font-weight: 700;
		}
	}

	p.woocommerce-shipping-contents {
		margin: 0;
	}

	/**
	 * Order page
	 */
	.order_details {
		@include clearfix();
		margin: 0 0 20px;
		list-style: none;
		float: left;
		padding: 20px;

		li {
			float: left;
			margin-right: 2em;
			text-transform: uppercase;
			font-size: 0.715em;
			line-height: 1;
			border-right: 1px dashed darken( $secondary, 10% );
			padding-right: 2em;
			margin-left: 0;
			padding-left: 0;

			strong {
				display: block;
				font-size: 1.4em;
				text-transform: none;
				line-height: 1.5;
			}

			&:last-of-type {
				border: none;
			}
		}
	}

	/**
	 * Layered nav widget
	 */
	.widget_layered_nav {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none outside;

			li {
				@include clearfix();
				padding: 0 0 1px;
				list-style: none;

				a,
				span {
					padding: 1px 0;
				}
			}

			li.chosen {
				a {
					&:before {
						@include iconbefore( "\e013" );
						color: $red;
					}
				}
			}
		}
	}

	.widget_product_search {
		.search-field {
			width: 100%;
			margin: 0 0 10px;
		}
		input[type="submit"] {
			width: 100%;
		}
	}

	.yith-woocompare-widget {
		li {
			padding: 0 0 10px;
			&:before {
				display: none;
			}
		}
	}

	.widget_layered_nav_filters {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none outside;
			overflow: hidden;
			zoom: 1;

			li {
				float: left;
				padding: 0 1px 1px 0;
				list-style: none;
				&:before {
					display: none;
				}

				a {
					text-decoration: none;

					&:before {
						@include iconbefore( "\e013" );
						color: $red;
					}
				}
			}
		}
	}

	/**
	 * Price filter widget
	 */
	.widget_price_filter {
		.price_slider {
			margin: 0 0 20px;
		}

		.price_slider_amount {
			text-align: center;
			line-height: 1.2;
			font-size: 0.8751em;
		}

		.price_label {
			padding: 20px 0 0 0;
		}

		.ui-slider {
			position: relative;
			text-align: left;
			margin-left: .5em;
			margin-right: .5em;
		}

		.ui-slider .ui-slider-handle {
			position: absolute;
			z-index: 2;
			width: 1em;
			height: 1em;
			border-radius: 1em;
			cursor: ew-resize;
			outline: none;
			top: -.3em;

			//&:last-child {
				margin-left: -.5em;
			//}
		}

		.ui-slider .ui-slider-range {
			position: absolute;
			z-index: 1;
			font-size: .7em;
			display: block;
			border: 0;
			border-radius: 1em;
		}

		.price_slider_wrapper .ui-widget-content {
			border-radius: 1em;
			border: 0;
		}

		.ui-slider-horizontal {
			height: .5em;
		}

		.ui-slider-horizontal .ui-slider-range {
			top: 0;
			height: 100%;
		}

		.ui-slider-horizontal .ui-slider-range-min {
			left: -1px;
		}

		.ui-slider-horizontal .ui-slider-range-max {
			right: -1px;
		}
	}
}

/**
 * Account page
 */
.woocommerce-account {
	.addresses {
		.title {
			@include clearfix();

			h3 {
				float: left;
			}

			.edit {
				float: right;
			}
		}
	}

	ol.commentlist.notes {
		li.note {

			p.meta {
				font-weight: 700;
				margin-bottom: 0;
			}

			.description {
				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	ul.digital-downloads {
		margin-left: 0;
		padding-left: 0;

		li {
			list-style: none;
			margin-left: 0;
			padding-left: 0;

			&:before {
				@include iconbefore( "\e00a" );
			}

			.count {
				float: right;
			}
		}
	}
}

/**
 * Cart page
 */
.woocommerce-cart {
	table.cart {
		.product-thumbnail {
			min-width: 32px;
			text-align: center;
			@media ( max-width: 650px ) {
				display: none;
			}
		}
		.product-price {
			@media ( max-width: 650px ) {
				display: none;
			}
		}

		img {
			max-width: 80%;
			box-shadow: none;
		}

		th,
		td {
			vertical-align: middle;
		}

		td.actions {
			.coupon {
				.input-text {
					margin: 0 4px 0 0;
					outline: 0;
				}
			}
		}

		.cart_item {
			@media ( max-width: 480px ) {
				border-top: 1px solid rgba(0, 0, 0, 0.1);
				overflow: hidden;
				padding: 10px 0;

				td {
					display: block;
					border: none;

					&.product-thumbnail,
					&.product-price {
						display: none;
					}

					&.product-remove,
					&.product-name,
					&.product-subtotal {
						float: left;
					}

					&.product-price,
					&.product-quantity {
						clear: both;
						float: left;
					}
				}
			}
		}

		thead {
			@media ( max-width: 480px ) {
				display: none;
			}
		}

		input {
			margin: 0;
			vertical-align: middle;
		}
	}

	.wc-proceed-to-checkout {
		@include clearfix;
		padding: 1em 0;

		a.checkout-button {
			display: block;
			text-align: center;
			margin-bottom: 1em;
		}
	}

	.cart-collaterals {
		.shipping_calculator {
			.button {
				width: 100%;
				float: none;
				display: block;
			}

			.shipping-calculator-button {
				&:after {
					@include iconafter( "\e019" );
				}
			}
		}

		.cart_totals {
			h2 {
				font-size: 26px;
				line-height: 32px;
				padding: 0 0 20px 0;
				margin: 0;
			}
			p {
				small {
					color: $subtext;
					font-size: 0.83em;
				}
			}

			table {
				border-collapse: separate;
				margin: 0 0 6px;
				padding: 0;
				border-left: 0;

				tr:first-child {
					th,
					td {
						border-top: 0;
					}
				}

				th {
					padding: 6px 12px 0 0;
					width: 25%;
				}

				td {
					padding: 6px 0;
				}

				td,
				th {
					vertical-align: top;
					border-left: 0;
					border-right: 0;
					padding: 6px 0;
					line-height: 2em;
				}

				small {
					color: $subtext;
				}

				select {
					width: 100%;
				}
			}

			.discount td {
				color: $highlight;
			}

			tr td,
			tr th {
				border-top: 1px solid $secondary;
			}
		}

		.cross-sells {
			ul.products {
				li.product {
					margin-top: 0;
				}
			}
		}
	}
}

/**
 * Checkout
 */
.woocommerce-checkout {
	.checkout {
		.woocommerce-billing-fields {
			h3 {
				font-size: 24px;
				line-height: 30px;
				padding: 0;
				margin: 0 0 20px 0;
			}
		}
		.col-2 {
			h3#ship-to-different-address {
				clear: none;
				position: relative;
				font-size: 24px;
				line-height: 30px;
				padding: 0;
				margin: 0 0 20px 0;
				label {
					display: block;
					padding: 0 0 0 30px;
					margin: 0;
				}
				input {
					position: absolute;
					top: 50%;
					margin: -5px 0 0 0;
				}
			}

			.notes {
				clear: left;
			}

			.form-row-first {
				clear: left;
			}
		}

		.create-account small {
			font-size: 11px;
			color: $subtext;
			font-weight: normal;
		}

		div.shipping-address {
			padding: 0;
			clear: left;
			width: 100%;
		}

		.shipping_address {
			clear: both;
		}
	}

	#payment {
		border-radius: 0;

		ul.payment_methods {
			@include clearfix();
			text-align: left;
			padding: 25px;
			margin: 0;
			list-style: none outside;

			li {
				line-height: 2;
				text-align: left;
				margin: 0;
				font-weight: normal;

				input {
					margin: 0 5px 0 0;
				}

				img {
					vertical-align: middle;
					margin: -2px 0 0 .5em;
					padding: 0;
					position: relative;
					box-shadow: none;
				}

				img + img {
					margin-left: 2px;
				}

				&.payment_method_paypal {
					img {
						padding: 2px 7px;
						background: #fff;
						margin-right: 10px;
					}
				}
			}
		}

		div.form-row {
			padding: 25px;
		}

		div.payment_box {
			position: relative;
			width: 96%;
			padding: 20px;
			margin: 10px 0 10px 0;
			font-size: 0.92em;
			line-height: 1.2;

			::-webkit-input-placeholder {
				color: darken( $secondary, 20% );
			}

			:-moz-placeholder {
				color: darken( $secondary, 20% );
			}

			:-ms-input-placeholder {
				color: darken( $secondary, 20% );
			}

			.wc-credit-card-form-card-number,
			.wc-credit-card-form-card-expiry,
			.wc-credit-card-form-card-cvc {
				font-size: 1.5em;
				padding: 8px;
				background-repeat: no-repeat;
				background-position: right;

				&.visa {
					background-image: url(../images/icons/credit-cards/visa.png);
				}

				&.mastercard {
					background-image: url(../images/icons/credit-cards/mastercard.png);
				}

				&.laser {
					background-image: url(../images/icons/credit-cards/laser.png);
				}

				&.dinersclub {
					background-image: url(../images/icons/credit-cards/diners.png);
				}

				&.maestro {
					background-image: url(../images/icons/credit-cards/maestro.png);
				}

				&.jcb {
					background-image: url(../images/icons/credit-cards/jcb.png);
				}

				&.amex {
					background-image: url(../images/icons/credit-cards/amex.png);
				}
				&.discover {
					background-image: url(../images/icons/credit-cards/discover.png);
				}
			}

			span.help {
				font-size: .857em;
				color: $subtext;
				font-weight: normal;
			}

			.form-row {
				margin: 0 0 20px;
			}

			p:last-child {
				margin-bottom: 0;
			}

			&:after {
				content: "";
				display: block;
				border-right-color: transparent;
				border-left-color: transparent;
				border-top-color: transparent;
				position: absolute;
				top: -16px;
				left: 0;
				margin: 0 0 0 2em;
			}
		}

		.payment_method_paypal {
			.about_paypal {
				display: inline-block;
				line-height: 56px;
				font-size: 0.83em;
			}

			img {
				max-height: 56px;
				vertical-align: middle;
			}
		}
	}
}

.yith-wcwl-wishlistaddresponse {
	display: none;
}

#order_review_heading {
	padding: 30px 0 20px;
}

.product-price {
	ins {
		text-decoration: none;
	}
}

.compare-table-page {
	table.compare-list .price td {
		text-decoration: none;
	}
	h1 {
		color: #fff;
		font-size: 20px;
		line-height: 24px;
	}
	ins {
		text-decoration: none;
	}
}

.product-categories {
	.cat-item {
		position: relative;
		padding-left: 25px;
		&:before {
			font-family: FontAwesome;
			content: '\f114';
			font-size: 15px;
			position: absolute;
			top: 0;
		}
		&.cat-parent {
			padding-bottom: 0;
			margin-bottom: 0;
			&:before {
				content: "\f115";
			}
		}
		.children {
			padding-top: 5px;
		}
	}
}