/**
 * Imports
 */
@import "mixins";
@import "variables";
@import "fonts";

/**
 * Buttons
 */
a.button,
button.button,
input.button,
#respond input#submit {
	font-size: 100%;
	margin: 0;
	line-height: 1;
	cursor: pointer;
	position: relative;
	font-family: inherit;
	text-decoration: none;
	overflow: visible;
	padding: .618em 1em;
	font-weight: 700;
	border-radius: 3px;
	left: auto;
	color: $secondarytext;
	background-color: $secondary;
	border: 0;
	white-space: nowrap;
	display: inline-block;
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	text-shadow: none;

	&.loading {
		opacity: 0.25;
		padding-right: 2.618em;

		&:after {
			font-family: "WooCommerce";
			content: "\e01c";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
			font-weight: 400;
			position: absolute;
			top: .618em;
			right: 1em;
			-webkit-animation: spin 2s linear infinite;
			-moz-animation: spin 2s linear infinite;
			animation: spin 2s linear infinite;
		}
	}

	&.added {
		&:after {
			font-family: 'WooCommerce';
			content: "\e017";
			margin-left: .53em;
			vertical-align: bottom;
		}
	}

	&:hover {
		background-color: $secondary - #111;
		text-decoration: none;
		background-image: none;
		color: $secondarytext;
	}

	&.alt {
		background-color: $primary;
		color: $primarytext;
		-webkit-font-smoothing: antialiased;

		&:hover {
			background-color: $primary - #111;
			color: $primarytext;
		}

		&.disabled,
		&:disabled,
		&:disabled[disabled],
		&.disabled:hover,
		&:disabled:hover,
		&:disabled[disabled]:hover {
			background-color: $primary;
			color: $primarytext;
		}
	}

	&:disabled,
	&.disabled,
	&:disabled[disabled] {
		color: inherit;
		cursor: not-allowed;
		opacity: 0.5;

		&:hover {
			color: inherit;
			background-color: $secondary;
		}
	}
}

.cart .button,
.cart input.button {
	float: none;
}

a.added_to_cart {
	padding-top: .5em;
	white-space: nowrap;
	display: inline-block;
}

nav.woocommerce-pagination {
	text-align: center;

	ul {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		clear: both;
		border: 1px solid darken( $secondary, 10% );
		border-right: 0;
		margin: 1px;

		li {
			border-right: 1px solid darken( $secondary, 10% );
			padding: 0;
			margin: 0;
			float: left;
			display: inline;
			overflow: hidden;

			a,
			span {
				margin: 0;
				text-decoration: none;
				padding: 0;
				line-height: 1;
				font-size: 1em;
				font-weight: normal;
				padding: .5em;
				min-width: 1em;
				display: block;
			}

			span.current,
			a:hover,
			a:focus {
				background: $secondary;
				color: darken( $secondary, 40% );
			}
		}
	}
}

span.onsale {
	min-height: 3.236em;
	min-width: 3.236em;
	padding: .202em;
	font-size: 1em;
	font-weight: 700;
	position: absolute;
	text-align: center;
	line-height: 3.236;
	top: -.5em;
	left: -.5em;
	margin: 0;
	border-radius: 100%;
	background-color: $highlight;
	color: $highlightext;
	font-size: .857em;
	-webkit-font-smoothing: antialiased;
}