/**
 * Imports
 */
@import "mixins";
@import "variables";

/**
 * Shop categoreis shortcode
 */
.cat-list {
	margin: 0 -15px;

	&:after {
		clear: both;
		content: "";
		width: 100%;
		display: block;
	}

	&_item {
		float: left;
		box-sizing: border-box;
		padding: 0 15px 30px;
		text-align: center;
		.col-1 > & {
			width: 100%;
			clear: both;
		}
		.col-2 > & {
			width: 50%;
			&:nth-child(2n+1) {
				clear: both;
			}
		}
		.col-3 > & {
			width: 33.3333%;
			&:nth-child(3n+1) {
				clear: both;
			}
		}
		.col-4 > & {
			width: 25%;
			&:nth-child(4n+1) {
				clear: both;
			}
		}
		.col-5 > & {
			width: 20%;
			&:nth-child(5n+1) {
				clear: both;
			}
		}
		.col-6 > & {
			width: 16.6666%;
			&:nth-child(6n+1) {
				clear: both;
			}
		}
	}
	&_img {
		padding: 0 0 30px 0;
	}
}

/**
 * Buttons
 */
a.button,
button.button,
input.button,
#respond input#submit {
	font-size: 100%;
	margin: 0;
	line-height: 1;
	cursor: pointer;
	position: relative;
	font-family: inherit;
	text-decoration: none;
	overflow: visible;
	padding: .618em 1em;
	font-weight: 700;
	border-radius: 3px;
	left: auto;
	color: $secondarytext;
	background-color: $secondary;
	border: 0;
	white-space: nowrap;
	display: inline-block;
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	text-shadow: none;

	&.loading {
		opacity: 0.25;
		padding-right: 2.618em;

		&:after {
			font-family: "WooCommerce";
			content: "\e01c";
			vertical-align: top;
			-webkit-font-smoothing: antialiased;
			font-weight: 400;
			position: absolute;
			top: .618em;
			right: 1em;
			-webkit-animation: spin 2s linear infinite;
			-moz-animation: spin 2s linear infinite;
			animation: spin 2s linear infinite;
		}
	}

	&.added {
		&:after {
			font-family: 'WooCommerce';
			content: "\e017";
			margin-left: .53em;
			vertical-align: bottom;
		}
	}

	&:hover {
		background-color: $secondary - #111;
		text-decoration: none;
		background-image: none;
		color: $secondarytext;
	}

	&.alt {
		background-color: $primary;
		color: $primarytext;
		-webkit-font-smoothing: antialiased;

		&:hover {
			background-color: $primary - #111;
			color: $primarytext;
		}

		&.disabled,
		&:disabled,
		&:disabled[disabled],
		&.disabled:hover,
		&:disabled:hover,
		&:disabled[disabled]:hover {
			opacity: 0.5;
		}
	}

	&:disabled,
	&.disabled,
	&:disabled[disabled] {
		color: inherit;
		cursor: not-allowed;
		opacity: 0.5;

		&:hover {
			color: inherit;
		}
	}
}

.cart .button,
.cart input.button {
	float: none;
}

a.added_to_cart {
	padding-top: .5em;
	white-space: nowrap;
	display: inline-block;
}

nav.woocommerce-pagination {
	text-align: center;

	ul {
		display: inline-block;
		white-space: nowrap;
		padding: 0;
		clear: both;
		border: 1px solid darken( $secondary, 10% );
		border-right: 0;
		margin: 1px;

		li {
			border-right: 1px solid darken( $secondary, 10% );
			padding: 0;
			margin: 0;
			float: left;
			display: inline;
			overflow: hidden;

			a,
			span {
				margin: 0;
				text-decoration: none;
				padding: 0;
				line-height: 1;
				font-size: 1em;
				font-weight: normal;
				padding: .5em;
				min-width: 1em;
				display: block;
			}

			span.current,
			a:hover,
			a:focus {
				background: $secondary;
				color: darken( $secondary, 40% );
			}
		}
	}
}

span.onsale {
	min-height: 3.236em;
	min-width: 3.236em;
	padding: .202em;
	font-size: 1em;
	font-weight: 700;
	position: absolute;
	text-align: center;
	line-height: 3.236;
	top: -.5em;
	left: -.5em;
	margin: 0;
	border-radius: 100%;
	background-color: $highlight;
	color: $highlightext;
	font-size: .857em;
	-webkit-font-smoothing: antialiased;
}

.woocommerce, .woocommerce-page {

	/**
	 * Star ratings
	 */
	.star-rating {
		float: right;
		overflow: hidden;
		position: relative;
		height: 1em;
		line-height: 1;
		font-size: 1em;
		width: 5.4em;
		font-family: 'star';

		&:before {
			content: "\73\73\73\73\73";
			color: darken( $secondary, 10% );
			float: left;
			top: 0;
			left: 0;
			position: absolute;
		}

		span {
			overflow: hidden;
			float: left;
			top: 0;
			left: 0;
			position: absolute;
			padding-top: 1.5em;
		}

		span:before {
			content: "\53\53\53\53\53";
			top: 0;
			position: absolute;
			left: 0;
		}
	}

	.woocommerce-product-rating {
		@include clearfix();
		line-height: 2;
		display: block;

		.star-rating {
			margin: .5em 4px 0 0;
			float: left;
		}
	}

	/**
	 * Product loops
	 */
	ul.products {
		clear: both;
		margin: 0 -15px;
		@include clearfix();

		li.product {
			float: left;
			margin: 0 0 30px 0;
			padding: 0 15px;
			position: relative;
			width: 25%;
			box-sizing: border-box;
		}

		li.first {
			clear: both;
		}

	}

	&.columns-1 {
		ul.products {
			li.product {
				width: 100%;
			}
		}
	}

	&.columns-2 {
		ul.products {
			li.product {
				width: 50%;
			}
		}
	}

	&.columns-3 {
		ul.products {
			li.product {
				width: 33.33333%;
			}
		}
	}

	&.columns-5 {
		ul.products {
			li.product {
				width: 20%;
			}
		}
	}

	&.columns-6 {
		ul.products {
			li.product {
				width: 16.66666%;
			}
		}
	}

	ul.products {
		li.product {
			.onsale {
				top: 0;
				right: 0;
				left: auto;
				margin: -.5em -.5em 0 0;
			}

			h3 {
				padding: 15px 0;
				margin: 0;
			}

			a {
				text-decoration: none;
			}

			a img {
				width: 100%;
				height: auto;
				display: block;
				margin: 0;
				box-shadow: none;
			}

			strong {
				display: block;
			}

			.star-rating {
				font-size: .857em;
			}

			.button {
				margin-top: 1em;
			}

			.price {
				display: block;
				font-weight: normal;
				margin-bottom: 0 0 20px 0;
				font-size: 1em;

				del {
					color: inherit;
					display: inline-block;
					vertical-align: baseline;
					font-size: 0.8em;
					margin: 0 5px 0 0;
				}

				ins {
					display: inline-block;
					background: none;
					vertical-align: baseline;
					text-decoration: none;
				}

				.from {
					font-size: 0.67em;
					margin: -2px 0 0 0;
					text-transform: uppercase;
				}
			}
		}
	}

}