<div class="cat-list_item">
	<div class="cat-list_img">
		<a href="%%CAT_URL%%">
			%%CAT_IMAGE%%
		</a>
	</div>
	<h3 class="cat-list_title">%%CAT_NAME%%</h3>
	<div class="cat-list_count">%%CAT_COUNT%%</div>
	%%CAT_DESC%%
</div>